.bookdetail__page{
    margin-top: 9rem;
    width: 100%;
}

.book__boxes{
    margin-left: 12rem;
    /* padding: 6rem; */
    width: 80%;
    gap: 10rem;
    display: flex;
    /* display: grid; */
    /* width: 100%; */
    /* grid-template-columns: auto auto auto; */

}

.img__div{
    width: 22%;
}

.bookdetail__div{
    width: 60%;
    color: gray;
}

.book__genres{
    width: 20%;
    border: 2px solid beige;
    height: 300px;
    text-align: center;
    border-radius: 8px;
    color: burlywood;
}

.book__quotes{
    margin-left: 12rem;
    margin-top: 4rem;
    color: gray;
    font-size: 1.1rem;
}

.add_to_cart_btn{
    width: 10rem;
    height: 2.5rem;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #8a7a61;;
    cursor: pointer;
}

